<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>SBConverter</title>

    <!--<link rel="stylesheet" type="text/css" href="lib/bootstrap/dist/css/bootstrap.min.css">-->
    <link rel="stylesheet" type="text/css" href="lib/ionic/release/css/ionic.min.css">
</head>
<body ng-app="sbconverter" ng-controller="ConversionSelectionCtrl">

<div class="bar bar-header bar-light">
    <h1 class="title">SBConverter</h1>
</div>

<div class="content has-header">
    <div class="list">

        <div class="item item-divider">
            Ausgangswert
        </div>

        <label class="item item-input">
            <span class="input-label">Ausgangswert</span>
            <input ng-keyup="convert()" type="number" ng-model="conversion.baseValue" placeholder="First Name"
                   aria-label="Wert" placeholder="Wert" value="{{conversion.baseValue}}">
        </label>

        <label class="item item-input item-select">
            <div class="input-label">
                Ausgangswährung
            </div>

            <select ng-options="curr as curr for curr in currencies" ng-model="conversion.baseCurrency"  ng-change="convert()">
                <!--<option ng-repeat="curr in currencies" ng-select="updateCurrency('base', curr)">-->
                    <!--{{curr}}-->
                <!--</option>-->
            </select>
        </label>

        <div class="item item-divider">
            Ziel
        </div>

        <label class="item item-input item-select">
            <div class="input-label">
                Zielwährung
            </div>

            <select ng-options="curr as curr for curr in currencies"
                    ng-model="conversion.targetCurrency" ng-change="convert()"></select>

            <!--<select ng-change="updateCurrency('target', curr)">-->
                <!--<option ng-repeat="">-->
                    <!--{{curr}}-->
                <!--</option>-->
            <!--</select>-->
        </label>

        <div class="item item-divider">
            Details
        </div>

        <div class="item">
            Wechselkurs

            <div class="item-note">
                1 {{conversion.baseCurrency}} = {{conversion.rate}}
                {{conversion.targetCurrency}}
            </div>
        </div>

        <!--<label class="item item-input">-->
        <!--<input type="text" placeholder="Last Name">-->
        <!--</label>-->
        <!--<label class="item item-input">-->
        <!--<textarea placeholder="Comments"></textarea>-->
        <!--</label>-->
    </div>
</div>

<div class="bar bar-footer bar-balanced">
    <div class="title">{{conversion.targetValue | currency:conversion.targetCurrency+" ":0}}</div>
</div>

<!--<button type="button" class="btn btn-block btn-lg btn-default dropdown-toggle" data-toggle="dropdown"-->
<!--aria-expanded="false">Zielwährung{{conversion.targetCurrency!= "" ? ": " :-->
<!--""}}{{conversion.targetCurrency}} <span class="caret"></span></button>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--<div class="row" ng-class="{hide:conversion.targetValue==null}">-->
<!--<div class="col-xs-12">-->
<!--<h2></h2>-->

<!--<script type="text/javascript" src="lib/angular/angular.js"></script>-->
<script type="text/javascript" src="lib/ionic/release/js/ionic.bundle.min.js"></script>

<!--<script type="text/javascript" src="lib/jquery/dist/jquery.js"></script>-->
<!--<script type="text/javascript" src="lib/bootstrap/dist/js/bootstrap.js"></script>-->
<script type="text/javascript" src="js/controllers.js"></script>
<script type="text/javascript" src="js/services.js"></script>
<script type="text/javascript" src="js/sbconverter.js"></script>
</body>
</html>